<h1>User Listing<button><%= link_to 'register now', 'user/sign_up' %></button></h1>
 
 <table border="1">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Mobile</th>
		<th>Email</th>
		<th>View</th>
		<th>Edit</th>
		<!-- <th>Delete</th>  -->
	</tr>
<% @users.each do |b| %>
	<tr>
		<td><%=b.id%> </td>
		<td><%=b.name%> </td>
		<td><%=b.mobile%> </td>
		<td><%=b.email%> </td>
		<td><%= link_to 'view', user_path(b) %></td>
		<td><%= link_to 'Edit', controller: "user", action: "edit", id: b %></td>

	</tr>

<%end%>
</table>